.overlay {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    user-select: none;
    .menu-list {
        margin: 5px;
        background-color: #ffc4c4;
        border: 1px solid grey;
        border-radius: 5px;
    }
    .menu-icon {
        display: inline-block;
        margin: 5px;
        cursor: pointer;
        color: #000000;
        &:hover {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
        }
        // animate the dropdown
    }
}