<div class="overlay" id="overlay">
    <div class="p1 menu-icon" (click)="showMenu()">
        <img src="https://svgshare.com/i/15SA.svg" alt="" width="40px">
    </div>
    <ng-container *ngIf="isShowMenu">
        <div class="menu-container">
            <div class="container p-3 menu-list" *ngFor="let item of WorkBenchMenuItems; let i = index" (click)="menuContextAction(item)">
                <span class="icon">
                    <img src="{{item.icon_invert}}" alt="" width="30px">
                </span>
                <span class="title">
                    {{item.title}}
                </span>
            </div>
        </div>
    </ng-container>
</div>
