.toolbar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #db780764;
    // background-color: #1d1d1d;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    z-index: 1000;
  }
  
  .tool {
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease;
    border-radius: 10px;
    border: 2px solid transparent;
  }
  
  .tool:hover {
    transform: scale(0.9);
    border: 2px solid #db7707;
  }
  
  .tool img {
    border: 2px solid transparent;
  }
  
  .tool-selected {
    border: 2px solid #db7707;
  }
  
  .number {
    position: relative;
    font-size: 12px;
    top: 15px;
    left: 0px;
  }
