<div class="overlay" (click)="takeSnapshot()">
    <img src="{{camera.icon}}" alt="" width="48px">
</div>
<div>
    <div class="arrow" id="arrow" (click)="toggleCollapse()" [ngClass]="!isCollapsed ? 'opaque' : ''">
        <img src="https://svgshare.com/i/15Rh.svg" alt="">
    </div>
    <div class="map-container" id="map-container" [ngClass]="isCollapsed ? 'collapsed' : '' ">
        <div class="title">
            <span>Version control</span>
        </div>
        <div class="map" #graphSvg></div>
    </div>
</div>
