@import url('https://fonts.googleapis.com/css2?family=Combo&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Gaegu&family=Sevillana&display=swap');
#co_canvas {
    cursor:auto;
    font-family: 'Combo', cursive;
    background-color: #db78072d;
}
