<app-canvas [selectedTool]="selectedTool"></app-canvas>
<app-dropdown-menu></app-dropdown-menu>
<app-tools (toolSelected)="onToolSelected($event.toString())"></app-tools>
<app-utility></app-utility>
<app-button 
    topPos="10px" 
    rightPos="100px" 
    width="70px" 
    textColor="white" 
    bgColor="purple" 
    height="35px" 
    buttonText="Share"  
    (clickHandler)="shareBoard()" 
    borderRadius="15px"
    border="1px solid purple">
</app-button>
<app-button 
    topPos="10px" 
    rightPos="20px" 
    width="70px" 
    textColor="grey" 
    bgColor="beige" 
    height="35px" 
    buttonText="Clear"  
    (clickHandler)="clearCanvas()" 
    borderRadius="15px"
    border="1px solid purple">
</app-button>