<app-tools (toolSelected)="onToolSelected($event)"></app-tools>
<app-canvas [selectedTool]="selectedTool" (toolSelected)="onToolSelected($event)" [shapeProperties]="shapeProperties" (shapePropertiesChange)="onShapePropertiesChange($event)"></app-canvas>
<app-dropdown-menu></app-dropdown-menu>
<!-- <app-utility></app-utility> -->
<app-pallete [selectedTool]="selectedTool" (propertyChange)="updateShapeProperty($event)" [shapeProperties]="shapeProperties"></app-pallete>
<app-version-control ></app-version-control>