<app-canvas [selectedTool]="selectedTool"></app-canvas>
<app-dropdown-menu></app-dropdown-menu>
<app-tools (toolSelected)="onToolSelected($event)"></app-tools>
<app-utility></app-utility>
<app-pallete></app-pallete>
<app-button 
    topPos="10px" 
    rightPos="120px" 
    width="70px" 
    textColor="white" 
    bgColor="rgba(0, 0, 0, 0.9)" 
    height="40px" 
    buttonText="Share" 
    borderRadius="20px"
    border="1px solid black">
</app-button>
<app-button 
    topPos="10px" 
    rightPos="30px" 
    width="70px" 
    textColor="black" 
    bgColor="rgba(220, 0, 0, 1)" 
    height="40px" 
    buttonText="Clear"  
    (clickHandler)="clearCanvas()" 
    borderRadius="20px"
    border="1px solid black">
</app-button>